// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.twitter{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20%;
  th{
    text-align:left;
  }
  table,td{
    border: 1px solid;
  }
  .title th{
    text-align: center;
  }
}